[submodule "luci"]
	path = luci
	url = https://git.openwrt.org/project/luci.git
[submodule "packages"]
	path = packages
	url = https://github.com/openwrt/packages.git
[submodule "openwrt"]
	path = openwrt
	url = https://git.openwrt.org/openwrt/openwrt.git
[submodule "routing"]
	path = routing
	url = https://github.com/openwrt/routing.git
