[submodule "packages"]
	path = packages
	url = git://git.openwrt.org/packages.git
[submodule "luci"]
	path = luci
	url = git://git.openwrt.org/project/luci.git
[submodule "routing"]
	path = routing
	url = git://github.com/openwrt-routing/packages.git
[submodule "telephony"]
	path = telephony
	url = http://feeds.openwrt.nanl.de/openwrt/telephony.git
[submodule "openwrt"]
	path = openwrt
	url = git://git.openwrt.org/14.07/openwrt.git
