@charset "utf-8";

@media all {

#status_table td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid #040;
}

.status_page_table th, .status_page_table td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid #040;
    font-size: 0.8em;
}

/* "errorbox" kommt aus openwrt/luci - "infobox" ist neu */
.infobox {
	border: 1px solid #11AA00;
	background-color: #CCFFCC;
	padding: 5px;
	margin-bottom: 5px;
}

th, td {
       padding: 0.2em;
}

tr[disabled="y"] {
	background-color: #bbb;
}

tr[disabled="y"] #cbi-opennet-gateways-status, tr[disabled="y"] #cbi-opennet-gateways-age {
	display: none;
}

#maincontent {
	background: rgba(245, 245, 245, 0.8);
	background-image:url("/luci-static/opennet/on_logo.png");
	background-position:right top;
	background-repeat:no-repeat;
	padding-left: 10px;
}

.warning {
	color: red;
	background-color: white;
	font-weight: bold;
}

input.cbi-input-del, input.cbi-button-del, input.cbi-button-top,
input.cbi-button-up, input.cbi-button-down, input.cbi-button-enable,
input.cbi-button-disable, input.cbi-button-clear {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	border:medium none;
	color:transparent;
	text-transform:capitalize;
	font-size: 0px;
	line-height: 0px;
	height: 24px;
	width:	24px;
}

input.cbi-input-del, input.cbi-button-del {
	background:transparent url(../../luci-static/opennet/user-trash.png) no-repeat scroll 1px center;
}

#cbi-opennet-gateways-active[active="n"], #cbi-opennet-gateways-status[status="n"], .opennet-bool[status="n"], .ugw-wan-route, .ugw-wan-ping, .ugw-mtu, .ugw-centralip, .ugw-tunnel_active[status="inactive"], .cert_available {
	background:transparent url(../../luci-static/opennet/error.png) no-repeat scroll center;
	min-height: 24px;
}

#cbi-opennet-gateways-active[active="y"], #cbi-opennet-gateways-status[status="y"], .opennet-bool[status="y"], .ugw-wan-route[status="ok"], .ugw-wan-ping[status="ok"], .ugw-mtu[status="ok"], .ugw-centralip[status="ok"], .ugw-tunnel_active[status="ok"], .cert_available[status="ok"] {
	background:transparent url(../../luci-static/opennet/emblem-default.png) no-repeat scroll center;
	min-height: 24px;
}

input.cbi-button-top {
	background:transparent url(../../luci-static/opennet/gtk-goto-top.png) no-repeat scroll 1px center;
}

input.cbi-button-up {
	background:transparent url(../../luci-static/opennet/gtk-go-up.png) no-repeat scroll 1px center;
}

input.cbi-button-down {
	background:transparent url(../../luci-static/opennet/gtk-go-down.png) no-repeat scroll 1px center;
}

input.cbi-button-enable {
	background:transparent url(../../luci-static/opennet/starred.png) no-repeat scroll 1px center;
}

input.cbi-button-disable {
	background:transparent url(../../luci-static/opennet/error.png) no-repeat scroll center;
}

input.cbi-button-clear {
	background:transparent url(../../luci-static/opennet/gtk-clear.png) no-repeat scroll 1px center;
}

input.cbi-button-small {
	background-size: 12px auto;
	padding-top: 2px;
	height: 12px;
	width:	12px;
	min-height: 12px;
}

input.cbi-button-toggle {
	background:transparent url(../../luci-static/opennet/gtk-refresh.png) no-repeat scroll 1px center;
	padding-left:24px;
	padding-right:1px;
	margin-left: 2em;
}

input.cbi-button-add {
	background:transparent url(../../luci-static/opennet/gtk-add.png) no-repeat scroll 1px center;
}

td.cert_infotable {
	vertical-align: top;
}

// Ende des media-all-Zweigs
}

